.search-book-list {
	width: 60%;
	max-width: 500px;
	height: 200px;
	overflow-y: scroll;
	box-shadow: 0 2rem 5rem 1rem rgb(0 0 0 / 19%);
}
.search-book-list__item {
	display: flex;
	padding: 1em;
	cursor: pointer;
	align-items: flex-start;
	border-bottom: 2px solid grey;
	color: grey;
}

.search-book-list__item:hover,
.search-book-list__item:focus {
	background: blue;
}

.search-book-list__item-title {
	color: black;
	font-weight: bold;
}
