.pagination {
    padding: 1em 0;
}

.pagination-list {
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
}

.pagination-list button {
    flex-basis: 60px;
}

.pagination-nav * {
    margin: 0px;
}
.pagination-nav {
    gap: 16px;
}

.pagination-nav-buttons {
    align-self: flex-end;
}

.is-current {
    background: green;
    font-weight: bold;
}
