.search-grid {
	margin: 1em 0;
}

.search-grid form {
	display: flex;
	gap: 3em;
	flex-direction: column;
	justify-items: start;
	align-items: baseline;
}
@media (min-width: 800px) {
	.search-grid form {
		flex-wrap: wrap;
		flex-direction: row;
	}
}

.form-group,
.form-title {
	display: flex;
	justify-content: flex-start;
}

label {
	margin-right: 1em;
}

.form-title {
	flex-direction: column;
}

.btn {
	margin-top: 4em;
	display: inline-block;
	padding: 1em 1.25em;
	border-radius: 10px;
	border: none;
}
.btn--form {
	background: #eee;
}
