.search-grid form {
	display: flex;
	flex-wrap: wrap;

	justify-items: start;
	align-items: flex-start;
}
@media (min-width: 800px) {
	.search-grid form {
		grid-template-columns: repeat(4, minmax(300px, 1fr));
		grid-template-rows: repeat(2, 300px);
		display: grid;
	}
}

.form-group,
.form-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 1em;
}

label {
	margin-right: 1em;
}

.form-title {
	flex-direction: column;
}

.btn {
	margin-top: 1em;
	display: inline-block;
	padding: 1em 1.25em;
	border-radius: 10px;
	border: none;
}
.btn--form {
	background: #eee;
}
